{% extends 'base.html.twig' %}

{% block title %}
    List
{% endblock %}

{% block body %}
    <h2>List</h2>

    <div class="table">
        {% for contact in contacts %}
            <div class="table__row">
                <div class="table__cell">{{ contact.firstName }}</div>
                <div class="table__cell">{{ contact.lastName }}</div>
                <div class="table__cell">{{ contact.birthday|date }}</div>
                <div class="table__cell">
                    <a href="{{ path('addressBook_view', {'id': contact.id}) }}" class="button">View</a>
                    <a href="{{ path('addressBook_edit', {'id': contact.id}) }}" class="button button--edit">Edit</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('addressBook_new') }}" class="button button--new">New</a>

{% endblock %}
