{{ form_start(contactForm) }}

    {{ form_row(contactForm.firstName) }}
    {{ form_row(contactForm.lastName) }}
    {{ form_row(contactForm.birthday) }}

    <button type="submit" class="btn btn-primary">Save</button>

{{ form_end(contactForm) }}