{{ form_start(contactForm) }}

    {{ form_row(contactForm.firstName) }}
    {{ form_row(contactForm.lastName) }}
    {{ form_row(contactForm.birthday) }}

    <button type="submit" class="button button--save">Save</button>

{{ form_end(contactForm) }}